* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.none-disp{
    display: none;
}
.main {
    width: calc(100% - 230px);
    height: 80vh;
    border: 2px solid blue;
    overflow: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: hsl(0deg 0% 15.69%);
    display: flex;
    justify-content: space-between;
}
.color{
    color: white;
    font-size: 10px;
}

.header {
    width: calc(100% - 230px);
    height: 10vh;
    align-self: flex-end;
    background-color: hsl(222deg 38.46% 5.1%);
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar {
    height: 90vh;
    width: 230px;
    overflow: auto;
    background-color: black;
    position: relative;
    font-size: 15px;
}

.main-1 {
    display: flex;
    position: relative;
}
.gray{
    color: gray;
}
.header-1 {
    display: flex;
}
.spotify-logo {
    width: 60%;
    margin: 10px 0 0 20px;
}

.upgrade {
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    right: 0;
    margin-top: 10px;
}
.upgrade:hover{
    background-color: green;
}

.icons {
    width: 30px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.bar {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pad-left{
    padding-left: 20px;
}
.plus {
    background-color: gray;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

.margin {
    margin: 20px 0
}

.mg-top {
    margin-top: 20px;
}

.mg-top-2 {
    margin-top: 10px;
}

.mg-bottom {
    margin-bottom: 10px;
}

.mg-left {
    margin-left: 10px;
}

.mg-right {
    margin-right: 10px;
}

.hover:hover {
    color: white;
    border-left: 2px solid hsl(83.68deg 81.2% 54.12%);
}
.hover-3:hover{
    color: white;
}

.install {
    width: 30px;
}

.profile {
    background-color: gray;
    border-radius: 50px;
    width: 25px;
}

.profile-section {
    margin-top: 60px;
}

.disp-none {
    display: none;
}

.mg-h {
    margin: 0 10px;
}

.hover-2:hover {
    color: white;
    text-decoration: underline;
}

.author {
    display: flex;
    align-items: center;
}
.sinister{
    width: 40px;
    margin-left: 20px;
}
.lector{
    font-size: 5px;
    padding: 0 200px;
    background-color:hsl(0deg 0% 33.73%) ;
    border-radius: 20px;
    position: relative;
}
.inside-lector{
    font-size: 5px;
    padding: 0 50px;
    background-color:hsl(0deg 0% 70.2%);
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.icons-footer{
    text-align: center; 
}
.inside-lector:hover{
    background-color: green;
}
.fa-circle-dot:hover{
    width: 10px;
}
.inside-lector-2:hover{
    background-color: green;
}
.fa-circle-play:hover{
    font-size: 20px;
}
.lector-2{
    font-size: 5px;
    padding: 0 70px;
    background-color:hsl(0deg 0% 33.73%) ;
    border-radius: 20px;
    position: relative;
    margin-right: 10px;
}
.inside-lector-2{
    font-size: 5px;
    padding: 0 20px;
    background-color:hsl(0deg 0% 70.2%);
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.fa-circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 95%;
}

@media screen and (max-width: 768px) {
    .upgrade{
        padding: 5px 5px
    }
    .icons{
        width: 20px;
    }
    .plus{
        padding: 5px;
    }
    .lector{
        padding: 0 100px;
    }
    .inside-lector{
        padding: 0 25px;
    }
    .sinister{
        font-size: 5px;
    }
}
@media screen and (max-width: 768px) and (min-width:425px){
    .disp-none {
        display: block;
        width: 20px;
        margin-left: 20px;
    }
    .logo-spotify {
        display: none;
    }
    .navbar{
        width: 50px;
    }
    .main{
        width: calc(100% - 50px);
    }
    .header{
        width: calc(100% - 50px);
    }
    .icons {
        width: 20px;
        margin: 0 auto;
    }
    .install{
        width: 40px;
    }
    hr {
        clear: both;
        border: 1px solid transparent;
        height: 0px;
    }
    .song{
        font-size: 10px;
    }
    .icons-footer{
        font-size: 5px;
    }
    .sinister{
        width: 20px;
    }
    .lector{
        padding: 0 50px;
    }
    .inside-lector{
     padding: 0 20px;
    }
    .profile-section{
        align-self: ;
    }
    .lector-section{
        font-size: 10px;
    }
    
    
}
@media screen and (max-width: 425px) {
    .none {
        display: block;
        width: 20px;
        margin-left: 20px;
    }
    .logo-spotify {
        display: none;
    }
    .navbar{
        width: 50px;
    }
    .main{
        width: calc(100% - 50px);
    }
    .header{
        width: calc(100% - 50px);
    }
    .icons {
        width: 20px;
        margin: 0 auto;
    }
    .install{
        width: 40px;
    }
    hr {
        clear: both;
        border: 1px solid transparent;
        height: 0px;
    }
    .song{
        font-size: 10px;
    }
    .icons-footer{
        font-size: 5px;
    }
    .sinister{
        width: 20px;
    }
    .lector{
        padding: 0 50px;
    }
    .inside-lector{
     padding: 0 20px;
    }
    .profile-section{
        align-self: ;
    }
    .lector-section{
        font-size: 10px;
    }
}