/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


/* Utilities */
.center{
    text-align: center;
}
.color{
    color: white;
    font-size: 10px;
}
.gray{
    color:hsl(222.86deg 2.77% 49.61%) ;
    font-size: 15px;
}
.white{
    color: white;
}
.pad-left{
    padding-left: 20px;
}
.margin {
    margin: 20px 0
}

.mg-top {
    margin-top: 20px;
}

.mg-top-2 {
    margin-top: 10px;
}

.mg-bottom {
    margin-bottom: 10px;
}

.mg-left {
    margin-left: 10px;
}

.mg-right {
    margin-right: 10px;
}
.mg-h {
    margin: 0 5px;
}
.left{
    text-align: left;
}
.disp-none {
    display: none;
}
.f-size{
    font-size: 10px;
}


/* Container e sezioni interne */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-1 {
    display: flex;
    position: relative;
}
.header {
    width: calc(100% - 230px);
    height: 10vh;
    align-self: flex-end;
    background-color: hsl(222deg 38.46% 5.1%);
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar {
    height: 90vh;
    width: 230px;
    background-color: black;
    font-size: 15px;
    color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}
.main {
    width: calc(100% - 230px);
    height: 80vh;
    background-color: hsl(218.57deg 25.93% 10.59%);
    overflow: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer {
    width: 100%;
    height: 10vh;
    background-color: hsl(0deg 0% 15.69%);
    display: flex;
    justify-content: space-between;
}


/* Logo Spotify */
.spotify-logo {
    width: 60%;
    margin: 10px 0 0 20px;
}


/* Sezione Header */
.upgrade {
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    right: 0;
    margin-top: 10px;
}
.upgrade:hover{
    background-color: green;
    padding: 10px 50px;
}


/* Sezione Navbar */
.icons {
    width: 30px;
    margin-top: 10px;
}
.plus {
    background-color: gray;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 20px
}
.home{
    border-left: 5px solid hsl(83.68deg 81.2% 54.12%);
}
.hover:hover {
    color: white;
    border-left: 5px solid hsl(83.68deg 81.2% 54.12%);
}
.hover:hover .plus{
    color: white;
}
.hover-3:hover{
    color: white;
}

.install {
    width: 30px;
}

.profile {
    background-color: gray;
    border-radius: 50px;
    width: 25px;
}

.profile-section {
    margin-top: 50px;
    
}


/* Sezione Main */
.main-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: gray;
    margin-top: 20px;
}
.playlist{
    margin-left: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 6);
    padding: 20px;
}
.play-start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    display: none;
}
.play-start:hover{
    font-size: 80px;
}

.card{
    position: relative;
}
.card:hover .play-start{
    display: block;
}
.line-1{
    width: 50px;
    height: 3px;
    background: hsl(83.65deg 100% 59.22%);
    margin: 0 auto;
    margin-top: 5px;
}
.line {
	width: 50px;
    height: 3px;
    background: hsl(83.65deg 100% 59.22%);
    margin: 0 auto;
    margin-top: 5px;
    display: none;
}
.gray:hover .line{
    display: block;
}
.card {
    transition: opacity 0.3s ease;
  }

.card:hover {
    opacity: 0.7;
  }
.punto{
    display: none;
}


/* Sezione Footer */
.hover-2:hover {
    color: white;
    text-decoration: underline;
}

.author {
    display: flex;
    align-items: center;
}
.sinister{
    width: 40px;
    margin-left: 20px;
}
.lector{
    font-size: 3px;
    padding: 0 200px;
    background-color:hsl(0deg 0% 33.73%) ;
    border-radius: 20px;
    position: relative;
}
.inside-lector{
    font-size: 3px;
    padding: 0 50px;
    background-color:hsl(0deg 0% 70.2%);
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.icons-footer{
    text-align: center; 
    font-size: 10px;
}
.lector:hover .inside-lector{
    background-color: green;
}
.fa-circle-dot{
    display: none;
}
.lector:hover .fa-circle-dot{
    display: block;
}
.lector-2:hover .fa-circle-dot{
    display: block;
}
.lector-2:hover .inside-lector-2{
    background-color: green;
}
.play{
    font-size: 20px;
}
.play:hover{
    font-size: 25px;
}
.lector-2{
    font-size: 3px;
    padding: 0 50px;
    background-color:hsl(0deg 0% 33.73%) ;
    border-radius: 20px;
    position: relative;
    margin-right: 10px;
}
.inside-lector-2{
    font-size: 3px;
    padding: 0 20px;
    background-color:hsl(0deg 0% 70.2%);
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.fa-circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 95%;
}



/* MEDIA QUERY */

/* TABLET */
@media screen and (max-width: 768px) {
    .upgrade{
        padding: 5px 5px
    }
    .icons{
        width: 20px;
    }
    .plus{
        padding: 5px;
    }
    .lector{
        padding: 0 100px;
    }
    .inside-lector{
        padding: 0 25px;
    }
    .sinister{
        font-size: 5px;
    }
    .col{
        width: calc(100% / 4);
    }
    .main-list{
        flex-wrap: wrap;
    }

}
    
/* MOBILE */
@media screen and (max-width: 552px) {
    .disp-none {
        display: block;
        width: 20px;
        margin-left: 20px;
    }
    .logo-spotify {
        display: none;
    }
    .navbar{
        width: 50px;
    }
    .main{
        width: calc(100% - 50px);
    }
    .header{
        width: calc(100% - 50px);
    }
    .icons {
        width: 20px;
        margin: 0 auto;
    }
    .install{
        width: 40px;
    }
    hr {
        clear: both;
        border: 1px solid transparent;
        height: 0px;
    }
    .song{
        font-size: 10px;
    }
    .icons-footer{
        font-size: 10px;
    }
    .sinister{
        width: 20px;
    }
    .lector{
        padding: 0 30px;
    }
    .inside-lector{
     padding: 0 20px;
    }
    .lector-section{
        font-size: 10px;
    }
    .col{
        width: calc(100% / 2);
    }
    .main-list{
        flex-wrap: wrap;
    }
    .fa-heart, .fa-folder{
        display: none;
    }
    .home{
        border: none;
    }
    
    .lector-2{
        padding: 0 10px;
    }
    .inside-lector-2{
        padding: 0 5px;
    }
    footer{
        justify-content: space-evenly;
    }
    .profile-section{
        position: absolute;
        bottom: 0;
    }
}