* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.main {
    width: 85%;
    height: 80vh;
    border: 2px solid blue;
    overflow: auto;
}

.footer {
    width: 100%;
    height: 10vh;
    border: 2px solid black;
    background-color: hsl(0deg 0% 15.69%);
    display: flex;
    justify-content: space-between;
}

.header {
    width: 85%;
    height: 10vh;
    border: 2px solid brown;
    align-self: flex-end;
    background-color: hsl(222deg 38.46% 5.1%);
    position: relative;
}

.navbar {
    height: 80vh;
    width: 15%;
    border: 2px solid green;
    overflow: auto;
    background-color: black;
    position: relative;
    font-size: 10px;
}

.main-1 {
    display: flex;
    position: relative;
}
.gray{
    color: gray;
}

.logo {
    width: 15%;
    height: 10vh;
    border: 2px solid brown;
    background-color: black;
    position: relative;
}

.header-1 {
    display: flex;
}

.spotify-logo {
    width: 60%;
    margin: 10px 0 0 20px;
}

.upgrade {
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    right: 0;
    margin-top: 10px;
}
.upgrade:hover{
    background-color: green;
}

.icons {
    width: 30px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.bar {
    margin-left: 20px;
    color: gray;
}

.plus {
    background-color: gray;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

.margin {
    margin: 20px 0
}

.mg-top {
    margin-top: 20px;
}

.mg-top-2 {
    margin-top: 10px;
}

.mg-bottom {
    margin-bottom: 10px;
}

.mg-left {
    margin-left: 10px;
}

.mg-right {
    margin-right: 10px;
}

.hover:hover {
    color: white;
}

.install {
    width: 15px;
}

.profile {
    background-color: gray;
    border-radius: 50px;
    width: 25px;
}

.profile-section {
    margin-top: 40px;
    position: absolute;
    bottom:0;
}

.none {
    display: none;
}

.mg-h {
    margin: 0 10px;
}

.hover-2:hover {
    color: white;
    text-decoration: underline;
}

.author {
    display: flex;
    align-items: center;
}
.sinister{
    width: 40px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .navbar{
        font-size: 10px;
    }
    .upgrade{
        padding: 5px 5px
    }
    .icons{
        width: 20px;
    }
    .plus{
        padding: 5px;
    }
    .crea{
        font-size: 8px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 425px) {
    .none {
        display: block;
        width: 20px;
        position: absolute;
        bottom: 0;
        left: 20px;
    }
    .logo-spotify {
        display: none;
    }

    .icons {
        width: 20px;
        margin: 0 auto;
    }

    .profile-section {
        margin-top: 200px;
    }

    hr {
        clear: both;
        border: 1px solid transparent;
        height: 0px;
    }
    .profile{
        margin: 0 auto;
        display: inline-block;
    }
    .song{
        font-size: 10px;
    }
    .icons-footer{
        font-size: 5px;
    }
    .sinister{
        width: 20px;
    }
    .upgrade{
        padding: 5px 5px;
    }
}